<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Gundb-Relay-Skynet SuperPeer</title>
  </head>
  <body>
    The magic of GunDB-Relay-Skynet SuperPeer is happening on this website.
    Find a browser client for the right application,
    to access data in this P2P network.

    <a href="https://github.com/parajbs/gundb-relay">gundb-relay-skynet</a>
    <a href="https://siasky.net/">Skynet</a>
    <a href="https://github.com/amark/gun">Find out more about Gun</a>
    <a href="https://github.com/dletta/superPeer">Super Peer</a>
  </body>
</html>
